{% extends 'base.html.twig' %}

{% block title %}Workers{% endblock %}

{% block body %}
    <h1>Workers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ worker.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ worker.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ worker.surname }}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ worker.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ worker.img }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_workers_index') }}">back to list</a>

    <a href="{{ path('app_workers_edit', {'id': worker.id}) }}">edit</a>

    {{ include('workers/_delete_form.html.twig') }}
{% endblock %}
