<!DOCTYPE html>
<!-- language -->
<html lang="zxx">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="layerdrops">
   
    <!-- ======== Page title ============ -->
    <title>О НАС || СТО сорбон моторс  </title>

    {% include 'includes/links.html.twig' %}

</head>

<body class="custom-cursor">

    <!-- Preloader Start-->
    <div class="preloader">
        <div class="preloader__image" style="background-image: url(public/assets/images/loader.png);"></div>
    </div>
    <!-- Preloader End-->

    <div class="page-wrapper">

        {% include 'includes/header.html.twig' %}
           
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/1bg.jpg);background-position: 0 70%;"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">О нас</h2>
                <ul class="drivschol-breadcrumb list-unstyled">
                    <li><a href="/">Главная</a></li>
                    <li><span>О нас</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="why-choose-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="why-choose-two__image">
                            <img src="assets/images/resources/about3.jpg" alt="">
                            <div class="why-choose-two__success">
                                <div class="why-choose-two__success__icon">
                                    <i class="icon-trophy-2 text-black"></i>
                                </div>
                                <div class="why-choose-two__success__content">
                                    <h4 class="why-choose-two__success__content__title text-black">Топ 5 среди СТО</h4><!-- /.why-choose-two__success__content__title -->
                                    <p class="why-choose-two__success__content__text text-black">С 2020 года мы держимся в топ 5 </p><!-- /.why-choose-two__success__content__text -->
                                </div><!-- /.why-choose-two__success__content -->
                            </div><!-- /.why-choose-two__success -->
                        </div><!-- /.why-choose-two__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-7">
                        <div class="why-choose-two__content">
                            <div class="sec-title   wow fadeInUp" data-wow-delay='300ms'>

                                <h6 class="sec-title__tagline">
                                    <i class="icon-left-arrow sec-title__img"></i>
                                    Кто мы такие
                                    <i class="icon-right-arrow sec-title__img"></i>
                                </h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Станция технического обслуживания "Темур"</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="why-choose-two__highlight wow fadeInUp" data-wow-delay='300ms'>Наша цель – обеспечить каждому клиенту высокое качество обслуживания и товаров, поддерживая автомобили в отличном состоянии и безопасности на дороге.</p><!-- /.why-choose-two__highlight -->
                            <p class="why-choose-two__text wow fadeInUp" data-wow-delay='500ms'>Компания СТО Темур, основанная в 2005 году, успешно работает на рынке уже почти два десятилетия. Мы специализируемся на ремонте автомобилей всех марок, обеспечивая высококачественное обслуживание и профессиональные услуги. Наша команда состоит из опытных специалистов, которые делают все возможное, чтобы ваши автомобили оставались в идеальном состоянии.

Кроме того, СТО Темур занимается продажей масел, запчастей, антифризов и фильтров для любых марок автомобилей. У нас можно найти все необходимое для вашего автомобиля, от качественных жидкостей до комплектующих, что делает нас вашим надежным партнером в автомобильной сфере.</p>
                            <!-- /.why-choose-two__text -->
                            <!-- <div class="why-choose-two__progress wow fadeInUp" data-wow-delay='500ms'>
                                <h4 class="why-choose-two__progress__title">Driving Skill</h4>
                                <div class="why-choose-two__progress__bar">
                                    <div class="why-choose-two__progress__inner count-bar" data-percent="80%">
                                        <div class="why-choose-two__progress__number count-text">80%</div>
                                    </div>
                                </div>
                            </div> -->
                            <a href="/contacts" class="drivschol-btn drivschol-btn--black wow fadeInUp mt-3" data-wow-delay='500ms'><span>Записаться на приём</span></a>
                        </div><!-- /.why-choose-two__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.why-choose-two -->


        <section class="funfact-one">
            <div class="funfact-one__bg jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%" style="background-image: url(assets/images/backgrounds/2bg.png);"></div>
            <div class="container">
                <ul class="list-unstyled funfact-one__list">
                    <li class="funfact-one__left__content wow fadeInUp" data-wow-delay='300ms'>
                        <span class="funfact-one__left__content__subtitle"> Готовы записаться ?</span><!-- /.funfact-one__item__subtitle -->
                        <h3 class="funfact-one__left__content__title">СТО "Темур".</h3><!-- /.funfact-one__item__title -->
                        <div class="funfact-one__left__content__link">
                            <a href="/contacts" class="funfact-one__left__content__link__btn drivschol-btn drivschol-btn--base2"><span>Записаться на прием</span></a>
                        </div><!-- /.funfact-one__item__btn -->
                    </li><!-- /.funfact-one__item -->

                     {% for item in counter %}
							{# <div class="col-lg-4 col-md-6 col-sm-6">
								<div class="funfact__item count-box wow fadeInUp" data-wow-delay="{{ item.mseconds }}">
									<div class="funfact__item__icon">
										<i class="funfact__item__icon__item {{ item.icons }}"></i>
									</div><!-- /.funfact__item__icon -->
									<div class="funfact__item__content">
										<h3 class="funfact__item__content__number funfact-one__count">
											<span class="count-text" data-stop="{{ item.val }}" data-speed="1500"></span>
											<span>{{ item.sym }}</span>
										</h3><!-- /.funfact__item__content__number -->
										<p class="funfact__item__content__text">{{ item.title }}</p><!-- /.funfact__item__content__text -->
									</div><!-- /.funfact__item__content -->
								</div><!-- /.funfact__item -->
							</div><!-- /.col-md-3 col-sm-6 --> #}

                            <li class="funfact-one__item count-box wow fadeInUp" data-wow-delay='{{ item.mseconds }}'>
                                <div class="funfact-one__icon">
                                    <div class="funfact-one__item__hover" style="background-image: url(assets/images/gallery/13.jpg);"></div>
                                    <i class="{{ item.icons }}"></i>
                                </div><!-- /.funfact-one__icon -->
                                <div class="funfact-one__content">
                                    <h3 class="funfact-one__count ">
                                        <span class="count-text" data-stop="{{ item.val }}" data-speed="1500"></span>
                                        <span>{{ item.sym }}</span>
                                    </h3>
                                    <!-- /.funfact-one__count -->
                                    <p class="funfact-one__text">{{ item.title }}</p><!-- /.funfact-one__text -->
                                </div><!-- /.funfact-one__content -->
                            </li>
						{% endfor %} 
                    

                   

                </ul><!-- /.list-unstyled funfact-one__list -->
            </div><!-- /.container -->
            <div class="funfact-one__element">
                <img src="public/assets/images/shapes/fun-fact-1-1.png" alt>
            </div><!-- /.funfact-one__element -->
        </section><!-- /.funfact-one -->

        {% include "includes/footer.html.twig" %}

    </div><!-- /.page-wrapper -->


    {% include "includes/additional.html.twig" %}

    {% include "includes/js.html.twig" %}

</body>

</html>