	<!DOCTYPE html>
	<!-- language -->
	<html lang="zxx">

	<head>
	    <!-- ========== Meta Tags ========== -->
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="author" content="layerdrops">
	   
	    <!-- ======== Page title ============ -->
	    <title>ГЛАВНАЯ || СТО Cорбон моторс - станция технического обслуживания в Худжанде</title>

        {% include 'includes/links.html.twig' %}
	</head>

	<body class="custom-cursor">

	    <!-- Preloader Start-->
	    <div class="preloader">
	        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
	    </div>
	    <!-- Preloader End-->

	    <div class="page-wrapper"> 

            {% include 'includes/header.html.twig' %}

	        <section class="main-slider-one">
	            <div class="main-slider-one__carousel drivschol-owl__carousel owl-carousel" data-owl-options='{
					"loop": true,
					"animateOut": "fadeOut",
					"animateIn": "fadeInRightBig",
					"items": 1,
					"autoplay": true,
					"autoplayTimeout": 7000,
					"smartSpeed": 1000,
					"nav": false,
					"navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
					"dots": true,
					"dotsData": true,
					"margin": 0
					}'>
	                <div class="item" data-dot="<button>01</button>">
	                    <div class="main-slider-one__item">
	                        <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/slider-1-1.png);"></div>
	                        <div class="main-slider-one__shape-one">
	                            <img src="assets/images/backgrounds/slider-1-shape-1.png" alt="drivschol">
	                        </div>
	                        <div class="main-slider-one__shape-two">
	                            <img src="assets/images/backgrounds/slider-1-shape-2.png" alt="drivschol">
	                        </div>
	                        <div class="main-slider-one__shape-border">
	                            <span class="main-slider-one__shape-border__one"></span>
	                            <span class="main-slider-one__shape-border__two"></span>
	                        </div>
	                        <div class="container">
	                            <div class="main-slider-one__content">
	                                <h3 class="main-slider-one__title">
	                                    <span class="main-slider-one__title__anim">Вы ищете</span>
	                                    <span class="main-slider-one__title__anim">где можно</span>
	                                    <span class="main-slider-one__title__anim">заменить масло?</span>
	                                    <span class="main-slider-one__title__image"><img src="assets/images/backgrounds/slider-1-shape-3.png" alt="drivschol"></span>
	                                </h3><!-- slider-title -->
	                                <div class="main-slider-one__btn">
	                                    <a href="/contacts" class="drivschol-btn drivschol-btn--base"><span>Записаться</span></a>
	                                </div><!-- slider-btn -->
	                            </div>
	                        </div>
	                        <div class="main-slider-one__layer">
	                            <img src="assets/images/slider/1.png" alt="drivschol">
	                        </div>
	                    </div>
	                </div>
	                <div class="item" data-dot="<button>02</button>">
	                    <div class="main-slider-one__item">
	                        <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/slider-1-1.png);"></div>
	                        <div class="main-slider-one__shape-one">
	                            <img src="assets/images/backgrounds/slider-1-shape-1.png" alt="drivschol">
	                        </div>
	                        <div class="main-slider-one__shape-two">
	                            <img src="assets/images/backgrounds/slider-1-shape-2.png" alt="drivschol">
	                        </div>
	                        <div class="main-slider-one__shape-border">
	                            <span class="main-slider-one__shape-border__one"></span>
	                            <span class="main-slider-one__shape-border__two"></span>
	                        </div>
	                        <div class="container">
	                            <div class="main-slider-one__content">
	                                <h3 class="main-slider-one__title">
	                                    <span class="main-slider-one__title__anim">Хотите пройти</span>
	                                    <span class="main-slider-one__title__anim">диагностику ?</span>
	                                    <span class="main-slider-one__title__image"><img src="assets/images/backgrounds/slider-1-shape-3.png" alt="drivschol"></span>
	                                </h3><!-- slider-title -->
	                                <div class="main-slider-one__btn">
	                                    <a href="/contacts" class="drivschol-btn drivschol-btn--base"><span>Записаться</span></a>
	                                </div><!-- slider-btn -->
	                            </div>
	                        </div>
	                        <div class="main-slider-one__layer">
	                            <img src="assets/images/slider/2.png" alt="drivschol">
	                        </div>
	                    </div>
	                </div>
	                <div class="item" data-dot="<button>03</button>">
	                    <div class="main-slider-one__item">
	                        <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/slider-1-1.png);"></div>
	                        <div class="main-slider-one__shape-one">
	                            <img src="assets/images/backgrounds/slider-1-shape-1.png" alt="drivschol">
	                        </div>
	                        <div class="main-slider-one__shape-two">
	                            <img src="assets/images/backgrounds/slider-1-shape-2.png" alt="drivschol">
	                        </div>
	                        <div class="main-slider-one__shape-border">
	                            <span class="main-slider-one__shape-border__one"></span>
	                            <span class="main-slider-one__shape-border__two"></span>
	                        </div>
	                        <div class="container">
	                            <div class="main-slider-one__content">
	                                <h3 class="main-slider-one__title">
	                                    <span class="main-slider-one__title__anim">Ремонт</span>
	                                    <span class="main-slider-one__title__anim">электрических частей ?</span>
	                                    <span class="main-slider-one__title__image"><img src="assets/images/backgrounds/slider-1-shape-3.png" alt="drivschol"></span>
	                                </h3><!-- slider-title -->
	                                <div class="main-slider-one__btn">
	                                    <a href="/contacts" class="drivschol-btn drivschol-btn--base"><span>Записаться</span></a>
	                                </div><!-- slider-btn -->
	                            </div>
	                        </div>
	                        <div class="main-slider-one__layer">
	                            <img src="assets/images/slider/3.png" alt="drivschol">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <a href="#services" class="main-slider-one__trigger"><span class="icon-video"></span></a>
	        </section><!-- ./main-slider-one -->

	        <section class="about-one" id="certificated">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-5">
	                        <div class="about-one__item">
	                            <div class="about-one__item__left">
	                                <div class="about-one__item__left__img  wow fadeInUp" data-wow-delay="500ms">
	                                    <img src="assets/images/resources/about_1.jpg" alt>
	                                    <div class="about-one__item__left__img__shape wow fadeInDown" data-wow-delay="1000ms">
	                                        <img src="assets/images/resources/about__shape-1-1.png" alt>
	                                    </div>
	                                    <div class="about-one__item__left__img__sub_img">
	                                        <img src="assets/images/resources/about_2.jpg" alt>
	                                        <svg viewBox="0 0 208 169" fill="none" xmlns="http://www.w3.org/2000/svg">
	                                            <path d="M1 169V1H208" stroke="#EC2526" stroke-width="2" />
	                                            <path d="M17 169V17H208" stroke="#EC2526" stroke-width="2" />
	                                        </svg>
	                                    </div>
	                                </div>

	                                <div class="about-one__item__left__contact wow fadeInLeft" data-wow-delay="500ms">
	                                    <a class="about-one__item__left__contact__link" href="tel:{{ settings[0].phoneNumber }}">
	                                        <div class="about-one__item__left__contact__link__icon">
	                                            <i class="icon-chat2"></i>
	                                        </div>
	                                        <div class="about-one__item__left__contact__link__call">
	                                            <span class="about-one__item__left__contact__link__subtext">Номер телефона</span>
	                                            <h6 class="about-one__item__left__contact__link__text">{{ settings[0].phoneNumber }}</h6>
	                                        </div>
	                                    </a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="300ms">
	                        <div class="about-one__item about-one__item__one">

	                            <div class="about-one__item__head">
	                                <div class="sec-title  text-start wow fadeInUp" data-wow-duration='300ms'>

	                                    <h6 class="sec-title__tagline">
	                                        <i class="icon-left-arrow sec-title__img"></i>
	                                        Познакомтесь с нами
	                                        <i class="icon-right-arrow sec-title__img"></i>
	                                    </h6><!-- /.sec-title__tagline -->

	                                    <h3 class="sec-title__title">Станция технического обслуживания "Темур"</h3><!-- /.sec-title__title -->
	                                </div><!-- /.sec-title -->
	                                <p class="about-one__item__text  wow fadeInUp" data-wow-delay='500ms'>Найдет решение нестандартных задач связанных с диагностикой, техническим обслуживанием и ремонтом Вашего автомобиля. А также опытные менеджеры СТО «ТЕМУР» подберут и закажут Вам нужные автозапчасти.	                                </p><!-- /.about-one__item__text -->
	                            </div><!-- /.about-one__item__head -->

	                            <div class="about-one__item__block-contents wow fadeInUp" data-wow-delay="500ms">
	                                <h3 class="about-one__item__block-contents__text">Именно преданность делу определяет нас. Мы постоянно совершенствуем наше ремесло, чтобы обеспечить высочайший уровень технического исполнения для наших уважаемых клиентов.</h3>
	                            </div>

	                            <div class="about-one__item__elememt">
	                                <div class="row">
	                                    <div class="col-md-6">
	                                        <div class="about-one__item__elememt__single wow fadeInUp" data-wow-delay="500ms">
	                                            <div class="about-one__item__elememt__single__icon">
	                                                <div class="icon">
	                                                    <i class="icon-steering-wheel-1"></i>
	                                                </div>
	                                            </div>
	                                            <h3 class="about-one__item__elememt__single__text">Онлайн бронь приема</h3>
	                                        </div>
	                                    </div>

	                                    <div class="col-md-6">
	                                        <div class="about-one__item__elememt__single wow fadeInUp" data-wow-delay="700ms">
	                                            <div class="about-one__item__elememt__single__icon">
	                                                <div class="icon">
	                                                    <i class="icon-Instructor"></i>
	                                                </div>
	                                            </div>
	                                            <h3 class="about-one__item__elememt__single__text">Профессионалы своего дела</h3>
	                                        </div>
	                                    </div>

	                                </div>
	                            </div>

	                            <!-- /.why-choose-two__text -->
	                            <div class="about-one__progress  wow fadeInUp" data-wow-delay='500ms'>
	                                <h4 class="about-one__progress__title">Довольных клиентов</h4>
	                                <div class="about-one__progress__bar">
	                                    <div class="about-one__progress__inner count-bar" data-percent="95%">
	                                        <div class="about-one__progress__number count-text">10000 +</div>
	                                    </div>
	                                </div>
	                            </div><!-- /.skills-item -->
	                            <a href="/about" class="drivschol-btn drivschol-btn--black  wow fadeInUp" data-wow-delay='500ms'><span>Подробнее</span></a>
	                        </div>
	                    </div><!-- /.col-lg-6 -->
	                </div><!-- /.row -->
	            </div><!-- /.container -->
	            <div class="about-one__element">
	                <img src="assets/images/shapes/about-cercle-1-5.png" alt>
	            </div>
	        </section><!-- /.about-one -->

	        <section class="service-one service-one__home" id="services">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="sec-title  text-center wow fadeInUp" data-wow-duration='300ms'>

	                            <h6 class="sec-title__tagline"> 
	                                <i class="icon-left-arrow sec-title__img"></i>
	                                Наши услуги
	                                <i class="icon-right-arrow sec-title__img"></i>
	                            </h6><!-- /.sec-title__tagline -->

	                            <h3 class="sec-title__title">Мы предоставляем качественные <br> услуги в городе</h3><!-- /.sec-title__title -->
	                        </div><!-- /.sec-title -->
	                        <!-- section-title -->
	                    </div>
	                </div>
	                <div class="row gutter-y-30">
					{% for service in services %}
    <div class="col-md-6 col-lg-4">
        <div class="service-card service-card-one wow fadeInUp animated" data-wow-duration='1500ms' data-wow-delay='000ms'>

            <div class="service-card__image">
                <img src="http://127.0.0.1:8000/img/services/{{ service.previmg }}" alt="{{ service.title }}">
            </div><!-- /.blog-card__image --> 

            <div class="service-card__content">
                <h3 class="service-card__title"><a href="/service{{ service.id }}">{{ service.title }}</a></h3>

                <p class="service-card__text">{{ service.description }}</p><!-- /.blog-card-two__text -->
            </div><!-- /.blog-card__content -->

            <div class="service-card__bth">
                <a href="/service{{ service.id }}" class="drivschol-btn drivschol-btn--base2">Подробнее <i class="fas fa-plus"></i></a>
            </div>

        </div><!-- /.blog-card -->
    </div><!-- /.col-md-6 col-lg-4 -->
{% endfor %}


	                    <!-- /.col-md-6 col-lg-4 -->
	                   
	                </div><!-- /.row -->
	            </div><!-- /.container -->
	        </section><!-- /.service-one -->

	        <div class="cta-three">
	            <div class="cta-three__bg jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%" style="background-image: url(assets/images/backgrounds/1bg.jpg);"></div><!-- /.cta-three__bg -->
	            <div class="container">
	                <div class="row">
	                    <div class="col-12">
	                        <div class="client-carousel ">
	                            <div class="container">
	                                <div class="client-carousel__one drivschol-owl__carousel owl-theme owl-carousel" data-owl-options='{
							            "items": 5,
							            "margin": 65,
							            "smartSpeed": 700,
							            "loop":true,
							            "autoplay": 6000,
							            "nav":false,
							            "dots":false,
							            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
							            "responsive":{
							                "0":{
							                    "items":1,
							                    "margin": 0
							                },
							                "360":{
							                    "items":2,
							                    "margin": 30
							                },
							                "575":{
							                    "items":3,
							                    "margin": 30
							                },
							                "768":{
							                    "items":3,
							                    "margin": 50
							                },
							                "992":{
							                    "items": 4,
							                    "margin": 100
							                },
							                "1200":{
							                    "items": 5,
							                    "margin": 160
							                }
							            }
						            }'> 
									{% for item in partner %}
	                                    <div class="client-carousel__one">
											<div class="client-carousel__one__item">
												<img src="http://127.0.0.1:8000/img/partners/{{ item.img }}" alt="{{ item.name }}">
											</div><!-- /.client-carousel__one__item -->
										</div><!-- /.client-carousel__one -->
									{% endfor %}
	                                </div><!-- /.thm-owl__slider -->
	                            </div><!-- /.container -->
	                        </div><!-- /.client-carousel -->
	                    </div><!-- /.col-12 -->
	                </div><!-- /.row -->
	                <div class="cta-three__inner">
	                    <div class="row align-items-center">
	                        <div class="col-md-8">
	                            <div class="cta-three__inner__content  wow fadeInUp" data-wow-delay='500ms'>
	                                <h3 class="cta-three__inner__content__text">Автосервис по ремонту авто</h3><!-- /.cta-three__content__text -->
	                            </div>
	                        </div><!-- /.col-md-7 -->
	                        <div class="col-md-4">
	                            <div class="cta-three__inner__link text-start text-md-end wow fadeInUp" data-wow-delay='500ms'>
	                                <a class="cta-three__inner__link__btn drivschol-btn  drivschol-btn--base2" href="/contacts">Записаться</a>
	                            </div><!-- /.cta-three__link -->
	                        </div><!-- /.col-md-5 -->
	                    </div><!-- /.row -->
	                </div><!-- /.cta-three__ -->

	            </div><!-- /.container -->
	        </div><!-- /.cta-three -->

	        <section class="testimonials-two">
	            <div class="funfact">
	                <div class="container">
	                    <div class="row">

						{% for item in counter %}
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="funfact__item count-box wow fadeInUp" data-wow-delay="{{ item.mseconds }}">
									<div class="funfact__item__icon">
										<i class="funfact__item__icon__item {{ item.icons }}"></i>
									</div><!-- /.funfact__item__icon -->
									<div class="funfact__item__content">
										<h3 class="funfact__item__content__number funfact-one__count">
											<span class="count-text" data-stop="{{ item.val }}" data-speed="1500"></span>
											<span>{{ item.sym }}</span>
										</h3><!-- /.funfact__item__content__number -->
										<p class="funfact__item__content__text">{{ item.title }}</p><!-- /.funfact__item__content__text -->
									</div><!-- /.funfact__item__content -->
								</div><!-- /.funfact__item -->
							</div><!-- /.col-md-3 col-sm-6 -->
						{% endfor %}



	                        {# <div class="col-lg-4 col-md-6 col-sm-6">
	                            <div class="funfact__item count-box  wow fadeInUp" data-wow-delay='700ms'>
	                                <div class="funfact__item__icon">
	                                    <i class="funfact__item__icon__item icon-online-learning"></i>
	                                </div><!-- /.funfact__item__icon -->
	                                <div class="funfact__item__content">
	                                    <h3 class="funfact__item__content__number funfact-one__count">
	                                        <span class="count-text" data-stop="{{ counter[0].val }}" data-speed="1500"></span>
	                                      <span>{{ counter[1].sym }}</span>
	                                    </h3><!-- /.funfact__item__content__number -->
	                                    <p class="funfact__item__content__text">{{ counter[0].title }}</p><!-- /.funfact__item__content__text -->
	                                </div><!-- /.funfact__item__content -->
	                            </div><!-- /.funfact__item -->
	                        </div><!-- /.col-md-3 col-sm-6 -->

	                        <div class="col-lg-4 col-md-6 col-sm-6">
	                            <div class="funfact__item count-box  wow fadeInUp" data-wow-delay='900ms'>
	                                <div class="funfact__item__icon">
	                                    <i class="funfact__item__icon__item icon-rating-1"></i>
	                                </div><!-- /.funfact__item__icon -->
	                                <div class="funfact__item__content">
	                                    <h3 class="funfact__item__content__number funfact-one__count">
	                                        <span class="count-text" data-stop="10" data-speed="1500"></span>
	                                        <span>k</span>
	                                    </h3><!-- /.funfact__item__content__number -->
	                                    <p class="funfact__item__content__text">Довольные клиенты</p><!-- /.funfact__item__content__text -->
	                                </div><!-- /.funfact__item__content -->
	                            </div><!-- /.funfact__item -->
	                        </div><!-- /.col-md-3 col-sm-6 --> #}

	                    </div><!-- /.row -->
	                </div><!-- /.container -->
	            </div><!-- /.funfact -->
	           <div class="container my-5 py-5">
	                <div class="sec-title  text-center wow fadeInUp" data-wow-duration='300ms'>

	                    <h6 class="sec-title__tagline">
	                        <i class="icon-left-arrow sec-title__img"></i>
	                        Наши бренды
	                        <i class="icon-right-arrow sec-title__img"></i>
	                    </h6><!-- /.sec-title__tagline -->

	                    <h3 class="sec-title__title">Бренды с которыми мы сотрудничаем</h3><!-- /.sec-title__title -->
	                </div><!-- /.sec-title -->
	                
	                <div class="row">
	                	<div class="col-12">
	                        <div class="client-carousel ">
	                            <div class="container">
	                                <div class="client-carousel__one drivschol-owl__carousel owl-theme owl-carousel" data-owl-options='{
							            "items": 5,
							            "margin": 65,
							            "smartSpeed": 700,
							            "loop":true,
							            "autoplay": 6000,
							            "nav":false,
							            "dots":false,
							            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
							            "responsive":{
							                "0":{
							                    "items":1,
							                    "margin": 0
							                },
							                "360":{
							                    "items":2,
							                    "margin": 10
							                },
							                "575":{
							                    "items":3,
							                    "margin": 20
							                },
							                "768":{
							                    "items":3,
							                    "margin": 30
							                },
							                "992":{
							                    "items": 4,
							                    "margin": 40
							                },
							                "1200":{
							                    "items": 5,
							                    "margin": 50
							                }
							            }
						            }'>
	                                    {% for brand in brands %}
                                            <div class="brands client-carousel__one__item" style="margin: 0 !important;">
                                                <img src="/img/brand/{{ brand.img }}" alt="{{ brand.title }}" style="width:100%;aspect-ratio:1/1;object-fit:cover">
                                                <div>
                                                    <h3>{{ brand.title }}</h3>
                                                    <p>{{ brand.description }}.</p>
                                                </div>
                                            </div>
                                        {% endfor %}<!-- /.owl-slide-item-->
	                                </div><!-- /.thm-owl__slider -->
	                            </div><!-- /.container -->
	                        </div><!-- /.client-carousel -->
	                    </div>
	                </div>

				</div><!-- /.testimonials-two__inner -->
	            <div class="testimonials-two__element_one">
	                <img src="assets/images/shapes/testimonial-1-1.png" alt>
	            </div><!-- /.testimonials-two__element_one -->
	            <div class="testimonials-two__element_two">
	                <img src="assets/images/shapes/testimonial-1-2.png" alt>
	            </div><!-- /.testimonials-two__element_one -->
	        </section><!-- /.testimonials-two -->

	        <section class="why-choose-one">
	            <div class="why-choose-one__bg jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% -100%" style="background-image: url(assets/images/backgrounds/2bg.png);"></div><!-- /.why-choose-one__bg -->
	            <div class="container">
	                <div class="row align-items-center">
	                    <div class="col-md-6">
	                        <div class="sec-title   wow fadeInUp" data-wow-duration='300ms'>

	                            <h6 class="sec-title__tagline">
	                                <i class="icon-left-arrow sec-title__img"></i>
	                                Почему выбирают нас
	                                <i class="icon-right-arrow sec-title__img"></i>
	                            </h6><!-- /.sec-title__tagline -->

	                            <h3 class="sec-title__title">Производим полную диагностику Вашего авто</h3><!-- /.sec-title__title -->
	                        </div><!-- /.sec-title -->
	                    </div><!-- /.col-md-6 -->
	                    <div class="col-md-6">
	                        <p class="why-choose-one__head__text  wow fadeInUp" data-wow-delay='700ms'>Наше стремление к совершенству определяет нашу работу. Мы постоянно развиваемся, чтобы предоставить нашим клиентам высочайший уровень качества и сервиса. </p><!-- /.why-choose-one__head__text -->
	                    </div><!-- /.col-md-6 -->
	                </div><!-- /.row -->
	                <div class="why-choose-one__inner">
	                    <div class="row">
	                        <div class="col-lg-3 col-md-6">
	                         <a href="/about">
	                            <div class="why-choose-one__single__item  wow fadeInUp" data-wow-delay='500ms'>
	                                <div class="why-choose-one__single__item__icon">
	                                    <i class="icon-Instructor"></i>
	                                </div><!-- /.why-choose-one__single__item__icon -->
	                                <h3 class="why-choose-one__single__item__text"><a href="/about">Профессиональные мастера</a></h3><!-- /.why-choose-one__single__item__text -->
	                            </div><!-- /.why-choose-one__single__item -->
	                        </div><!-- /.col-md-3 -->
	                        	</a>
	                        <div class="col-lg-3 col-md-6">
	                            <a href="/shop">
									<div class="why-choose-one__single__item wow fadeInUp" data-wow-delay="600ms">
										<div class="why-choose-one__single__item__icon">
											<i class="icon-steering-wheel-1"></i>
										</div><!-- /.why-choose-one__single__item__icon -->
										<h3 class="why-choose-one__single__item__text">
											<a href="/shop">Качественные запчасти</a>
										</h3><!-- /.why-choose-one__single__item__text -->
									</div><!-- /.why-choose-one__single__item -->
								</div><!-- /.col-md-3 -->
							</a>
	                        <div class="col-lg-3 col-md-6">
	                            <div class="why-choose-one__single__item  wow fadeInUp" data-wow-delay='700ms'>
	                                <div class="why-choose-one__single__item__icon">
	                                    <i class="icon-trust-1"></i>
	                                </div><!-- /.why-choose-one__single__item__icon -->
	                                <h3 class="why-choose-one__single__item__text"><a href="/">Персональный подход к клиентам</a></h3><!-- /.why-choose-one__single__item__text -->
	                            </div><!-- /.why-choose-one__single__item -->
	                        </div><!-- /.col-md-3 -->
	                        <div class="col-lg-3 col-md-6">
	                            <div class="why-choose-one__single__item  wow fadeInUp" data-wow-delay='900ms'>
	                                <div class="why-choose-one__single__item__icon">
	                                    <i class="icon-certificate-1"></i>
	                                </div><!-- /.why-choose-one__single__item__icon -->
	                                <h3 class="why-choose-one__single__item__text"><a href="/#certificated">Сертифицированный персонал</a></h3><!-- /.why-choose-one__single__item__text -->
	                            </div><!-- /.why-choose-one__single__item -->
	                        </div><!-- /.col-md-3 -->
	                    </div><!-- /.row -->
	                </div><!-- /.inner -->
	            </div><!-- /.container -->
	        </section><!-- /.why-choose-one -->


	        <section class="contact-two t-50">
	            <div class="contact-two__bg" style="background-image: url(assets/images/team/bg-contact-team.png);"></div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-xl-6 col-lg-5"></div>
	                    <div class="col-xl-6 col-lg-7 wow slideInRight">
						{# action="inc/sendemail.php" #}
	        				<form action="{{ path('app_repair_add') }}"  class="form-one team-form-one__form contact-form-validated "  novalidate="novalidate" method="POST">
	                            <div class="sec-title   wow fadeInUp" data-wow-duration='300ms'>

	                                <h6 class="sec-title__tagline">
	                                    <i class="icon-left-arrow sec-title__img"></i>
	                                    Получить расчет
	                                    <i class="icon-right-arrow sec-title__img"></i>
	                                </h6><!-- /.sec-title__tagline -->

	                                <h3 class="sec-title__title">Получите оценку ремонта автомобиля</h3><!-- /.sec-title__title -->
	                            </div><!-- /.sec-title -->
	                            <div class="form-one__group  wow fadeInUp" data-wow-delay='500ms'>
	                                <div class="form-one__control ">
	                                    <input type="text" name="name" placeholder="Ваше имя">
	                                </div><!-- /.form-one__control  -->
	                                <div class="form-one__control">
	                                    <input type="text" name="Email" placeholder="Ваш E-mail">
	                                </div><!-- /.form-one__control -->
	                                <div class="form-one__control ">
	                                    <input type="text" name="phone" placeholder="Ваш номер телефона">
	                                </div><!-- /.form-one__control  -->
	                                <div class="form-one__control">
	                                    <select name="tasks_id" id="tasks_id" style="width: 100%;border: none;padding: 10px 10px 10px 25px;height: 100%;outline: none;">
												<option disabled selected>Выберите задачу</option>
												{% for task in tasks %}
													<option value="{{ task.id }}">{{ task.name }}</option>
												{% endfor %}
										</select>
	                                </div><!-- /.form-one__control -->
	                                <div class="form-one__control form-one__control__full">
	                                    <textarea name="message" placeholder="Ваше сообщение"></textarea><!-- /# -->
	                                </div><!-- /.form-one__control -->
	                                <div class="form-one__control form-one__control__full text-start">
	                                    <button type="submit" class="drivschol-btn drivschol-btn--base2"><span>Назначить встречу</span></button>
	                                </div><!-- /.form-one__control -->
	                            </div><!-- /.form-one__group -->
	                        </form>
	                    </div>
	                </div>
	            </div><!-- /.container -->
	            <div class="contact-two__left__image  wow fadeInUp" data-wow-delay='500ms'>
	                <img src="assets/images/shapes/1.jpg" alt="contact-two__left__image">
	            </div>
	        </section><!-- /.contact -->

	        <section class="blog-one blog-one__home t-50">
	        </section><!-- /.blog-one blog-one-->

	
	        {% include 'includes/footer.html.twig' %}

	    </div><!-- /.page-wrapper -->



	    {% include 'includes/additional.html.twig' %}


	   {% include "includes/js.html.twig" %}
	</body>

	</html>